*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

/* the overflow hidden allows for the image to not go over the screen */
.video-container {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* this makes the clips size perfect on the screen */
#video {
    object-fit: cover;
    height: 100vh;
    position: absolute;
    width: 100%;
}

.video-container::after {
    content: " ";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* this right here will control the lighting for the video */
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
}

/* position relative brings the h1 and the <a> to the top of the moving image 
display flex moved the <a>  tag next to the h1 title
    flex-direction: column allowed for the content to move down vertically
    width: 100%;
    height: 100%;*/
.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* changes the color of the H1, makes it brighter brings its color out more since the video itself was dimmed above */
    z-index: 15;
}

.title h1 {
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 3rem;
    /* the space bw the a tag and the h1 */
    line-height: 1;
}

.title-btn {
    text-decoration: none;
    color: #fff;
    /* creates link border */
    border: 1px solid #fff;
    /* spaces it out */
    padding: 1rem 5rem;
    font-size: 1.5rem;
    /* cool effect, makes the box appear gently */
    transition: all 2.5s;
}

/* controls the color of the button when hovered */
.title-btn:hover {
    background-color: rgba(155, 223, 240, 0.4);
}

/* Sections */
.s1,
.s2 {
    padding-top: 5rem;
    height: 100vh;
    color: rgb(61, 131, 61);
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;

}

.s2 {
    background-color: #333;
}

/* Mobile Responsive */
@media screen and (min-width: 700px) {
    .title h1 {
        font-size: 4rem;
    }
    .title-btn {
        font-size: 2rem;
    }
}














